body {
    margin: 0;
    background-color: green;
}

div {
    background-color: wheat;
    padding: 50px;
    margin: 20px;

    border-style: solid;
    border-color: red;
    border-width: 10px;
}

header {
    background-color: white;
}